<h2>LOGIN</h2>

<form action="/user-signup" method="POST" id="form-container">
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="jonsnow@nightwatch.com">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account?
    <a href="/auth/login">Create one here</a>
  </p>
</form>