<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 mt-3">
      <form action="/signup" method="POST">
        <div class="form-group">
          <label class="font-weight-bold" for="username">Nome</label>
          <input type="text" class="form-control" name="name" aria-describedby="namealert"
            placeholder="Write your name" required>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="exampleInputAge1">Age</label>
          <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="exampleInputRole1">Your role:</label>
          <div class="input-group mb-3">
            <select class="custom-select" name="role" id="inputGroupSelect01" required>
              <option value="CLIENT" selected>Client</option>
              <option value="VENDOR">Vendor</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3"> Deseja receber e-mails promocionais? <input type="checkbox" name="promotionalEmail" aria-label="Checkbox for following text input">
          </div>
        </div>
        {{#if message}}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {{/if}}
        <div class="form-group text-center">
          <button type="submit" onclick="signUpUser()" class="btn btn-info" id="signup">Signup</button>
          <small class="form-text">
            <p class="account-message">Have an account? <a href="/login">Login</a></p>
          </small>
          {{!-- <button type="submit" class="btn btn-sm bg-secondary"><i class="fab fa-google"></i></button>
          <button type="submit" class="btn btn-sm bg-secondary"><i class="fab fa-facebook-f"></i></button>
          <button type="submit" class="btn btn-sm bg-secondary"><i class="fab fa-twitter"></i></button> --}}
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function signUpUser() {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn btn-sm btn-success mr-3'
      },
      buttonsStyling: false,
    })

    swalWithBootstrapButtons.fire({
      title: 'Success!',
      text: 'Sign completed.',
      type: 'success',
      confirmButtonColor: '#DD6B55',
    });
  };
</script>