<div class="row">
  <div class="col-12 col-sm-12">
    <div class="form-group">
      <div class="input-group">
        <input type="text" id="pac-input" class="controls form-control input-group-text" placeholder="Busque por praias ou por barracas.">
        <div class="input-group-append">
          <button class="btn btn-info" type="submit" id="button-search">
            <i class="fas fa-search-location"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="searchmap" class="mt-3"></div>
  </div>
  <div class="col-12 col-sm-12">
    <hr>
    <h5>Praia de Ipanema</h5>
  </div>
  <div class="col-12 col-sm-12">
    <ul class="list-group" id="list-barracas">
      <li class="list-group-item d-flex">
        <div class="media">
          <figure class="figure">
            <img src="https://via.placeholder.com/50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
          </figure>
          <div class="media-body">
            <h5 class="mt-0"><a href="#" data-toggle="modal" data-target="#exampleModal">Barraca do Fulano</a></h5>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex">
        <div class="media">
          <figure class="figure">
            <img src="https://via.placeholder.com/50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
          </figure>
          <div class="media-body">
            <h5 class="mt-0">Barraca da Beltrana</h5>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex">
        <div class="media">
          <figure class="figure">
            <img src="https://via.placeholder.com/50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
          </figure>
          <div class="media-body">
            <h5 class="mt-0">Barraca do Ciclano</h5>
            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex">
        <div class="media">
          <figure class="figure">
            <img src="https://via.placeholder.com/50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
          </figure>
          <div class="media-body">
            <h5 class="mt-0">Barraca da Fulana</h5>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/signup" method="GET">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Barraca do Fulano</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <figure class="figure">
            <img src="https://via.placeholder.com/450x200" class="figure-img img-fluid rounded" alt="Barraca Picture">
          </figure>
          <p><b>Descriçao:</b><br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione laboriosam libero quos minus voluptatibus officia magni odio natus, esse fugiat quisquam reprehenderit, ex adipisci hic voluptas tempore id distinctio quo.</p>
          <p><b>Serviços:</b><br>
            <i class="fas fa-umbrella-beach"></i> <i class="fas fa-utensils"></i> <i class="fas fa-beer"></i> <i class="fas fa-cocktail"></i><br>
            Ratione laboriosam libero quos minus voluptatibus
            officia magni odio natus.</p>
          <p class="alert alert-warning" role="alert">
            <small>Alerta de <a href="#" class="alert-link">registro</a>/<a href="#"
                class="alert-link">login</a></small>
          </p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info">Reservar</button>
        </div>
      </form>
    </div>
  </div>
</div>