<div class="row">
  {{!-- <div class="col-12 mt-3 d-flex justify-content-center">
    <h1>BarraQuero</h1>
  </div> --}}
</div>
<div class="row">
  <div class="col-12 mt-3 d-flex justify-content-center">
    <figure id="logo-home">
      <img src="./images/guarda-sol.png" alt="" class="img-thumbnail">
    </figure>
  </div>
</div>
<div class="row">
  <div class="col-10 offset-1">
    <form action="/beaches" method="GET" id="search-home">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control input-group-text" placeholder="Busque por praias ou por barracas.">
          <div class="input-group-append">
            <button class="btn btn-info" type="submit" id="search-home"><i
                class="fas fa-search-location"></i></button>
          </div>
        </div>
    </form>
  </div>
  {{!-- <div class="col-4 offset-4">
    <button class="btn btn-secondary" type="submit">Reservas</button>
  </div> --}}
</div>