<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>

<body class="d-flex flex-column h-100 bg-seashell">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-warning">
    <a class="navbar-brand" href="/">
      <img src="/images/guarda-sol.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
      BarraQuero</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <main id="main" role="main" class="flex-shrink-0">
    {{{ body }}}
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/b36c80489d.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
  {{!-- <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script> --}}

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  {{#if GMAPS}}
    <script src="https://maps.googleapis.com/maps/api/js?key={{GMAPS}}&libraries=places,geometry&callback=initAutocomplete" async defer></script>
    <script src="./javascripts/createmarker.js"></script>
    <script src="./javascripts/script.js"></script>
  {{/if}}

</body>

</html>