<form action="/edit-user" method="POST" enctype="multipart/form-data">

    <input type="file" name="imgPath">

    <div class="form-group">
        <label for="email">Say something</label>
        <input type="text" name="email" class="form-control" value="{{email}}">
    </div>
    <button type="submit">Create post</button>

    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
</form>