<div class="row">
  <div class="col-12 mt-3">
    <h6>Meu Perfil</h6>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr>
    <div class="d-flex flex-column text-center">
        <figure class="figure">
          <img src="https://via.placeholder.com/75" class="figure-img rounded-circle" alt="Profile Picture">
        </figure>
        <h6>Username </h6>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h6>Meus Dados</h6>
    <hr>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" name="name" aria-describedby="namealert"
        value="Write your name" required>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="surname">Sobrenome</label>
      <input type="text" class="form-control" name="name" aria-describedby="surnamealert"
        value="Write your surname" required>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" name="name" aria-describedby="agealert"
        value="--" required>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="exampleInputGender1">Gender:</label>
      <div class="input-group mb-3">
        <select class="custom-select" name="gender" id="gender" required>
          <option value="male" selected>Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="form-group">
      <label for="exampleInputCellphone1">Cellphone</label>
      <input type="text" class="form-control" name="cellphone" id="exampleInputCellphone1" value="(--) ----- ----" required>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
        value="Enter email" required>
    </div>
    <p>&nbsp;</p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12">
    <h6>Minhas Reservas</h6>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 text-center">
    <hr>
    <button type="submit" name="saveUserProfile" class="btn btn-sm btn-outline-success" id="saveUserProfile">Salvar</button>
  </div>
</div>