<div class="container">
  <div class="row">
    <div class="col-12 mt-3 d-flex justify-content-between align-items-center">
      <h6>Meu Perfil (User)</h6><a href="/edit-user" class="badge badge-warning">Edit</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
      <div class="d-flex flex-column text-center">
        <figure class="figure">
          <img src="https://via.placeholder.com/75" class="figure-img rounded-circle" alt="Profile Picture">
        </figure>
        <h6>Username </h6>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h6>Meus Dados</h6>
      <hr>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-2">
      <h6>Nome</h6>
      <p>Nome</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Sobrenome</h6>
      <p>Sobrenome</p>
    </div>
    <div class="col-3 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Age</h6>
      <p>00</p>
    </div>
    <div class="col-4 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Gender:</h6>
      <p>Male</p>
    </div>
    <div class="col-5 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Cellphone</h6>
      <p>(--) ----- ----</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <h6>Email address</h6>
      <p>email@email.com</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h6>Minhas Reservas</h6>
      <hr>
    </div>
    <div class="col-12 col-sm-12">
      <div class="card-deck">
        <div class="card">
          <img src="https://via.placeholder.com/180x90" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">Nome da Barraca</h6>
            <p class="card-text">Descrição resumida da barraca</p>
            <p class="card-text d-flex flex-row justify-content-between">
              <small class="text-muted">00:00 de 00/00/00 de MÊS</small> <a href="/reserva/user" class="badge badge-dark">Em andamento</a>
            </p>
          </div>
        </div>
        <div class="card">
          <img src="https://via.placeholder.com/180x90" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">Nome da Barraca</h6>
            <p class="card-text">Descrição resumida da barraca</p>
            <p class="card-text d-flex flex-row justify-content-between">
              <small class="text-muted">00:00 de 00/00/00 de MÊS</small> <a href="#" class="badge badge-danger">Encerrada</a>
            </p>
          </div>
        </div>
        <div class="card">
          <img src="https://via.placeholder.com/180x90" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">Nome da Barraca</h6>
            <p class="card-text">Descrição resumida da barraca</p>
            <p class="card-text d-flex flex-row justify-content-between">
              <small class="text-muted">00:00 de 00/00/00 de MÊS</small> <a href="#" class="badge badge-danger">Encerrada</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>