<div class="row">
  <div class="col-12 mt-3 d-flex flex-row">
    <div>
      <figure class="figure">
        <img src="https://via.placeholder.com/75" class="figure-img rounded-circle mr-3" alt="Profile Picture">
      </figure>
      <h6>Username</h6>
    </div>
    <div>
      <p>Data: some data.<br>
        Data: some data.<br>
        Data: some data.<br>
        Data: some data.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mt-3">
    <form action="" method="get" id="">
      <div class="card">
        <div class="card-body">
          <div>
            <h6 class="card-title">Minha Barraca</h6>
          </div>
          <div class="d-flex">
            <figure class="figure mr-3">
              <img src="https://via.placeholder.com/50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
            </figure>
            <p class="card-text"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque non ullam ipsa reprehenderit, omnis nihil. <span data-toggle="tooltip" data-placement="top" title="Contato"><i class="far fa-comment-alt"></i></span></small></p>
          </div>
        </div>
        <div class="card-body border-top">
          <h6 class="card-title">Minha Comanda</h6>
          <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-between border-bottom pb-2 pt-2">
              <span class="d-inline-block servicos text-center">
                <i class="fas fa-umbrella-beach"></i>
              </span>
              <span><small>R$ 00,00</small></span>
            </div>
            <div class="d-flex flex-row justify-content-between border-bottom pb-2 pt-2">
              <span class="d-inline-block servicos text-center">
                <i class="fas fa-chair"></i>
              </span>
              <span><small>R$ 00,00</small></span>
            </div>
            <div class="d-flex flex-row justify-content-between border-bottom pb-2 pt-2">
              <span class="d-inline-block servicos text-center">
                <i class="fas fa-cookie"></i>
              </span>
              <span><small>R$ 00,00</small></span>
            </div>
            <div class="d-flex flex-row justify-content-between border-bottom pb-2 pt-2">
              <span class="d-inline-block servicos text-center">
                <i class="fas fa-bread-slice"></i>
              </span>
              <span><small>R$ 00,00</small></span>
            </div>
            <div class="d-flex flex-row justify-content-between border-bottom pb-2 pt-2">
              <span class="d-inline-block servicos text-center">
                <i class="fas fa-wine-bottle"></i>
              </span>
              <span><small>R$ 00,00</small></span>
            </div>
            <div class="d-flex flex-row justify-content-between border-bottom pb-2 pt-2">
              <span class="d-inline-block servicos text-center">
                <i class="fas fa-beer"></i>
              </span>
              <span><small>R$ 00,00</small></span>
            </div>
            <div class="d-flex flex-row justify-content-between border-bottom pb-2 pt-2">
              <span class="d-inline-block servicos text-center">
                <i class="fas fa-cocktail"></i>
              </span>
              <span><small>R$ 00,00</small></span>
            </div>
            <div class="d-flex flex-row justify-content-end">
              <span><small>R$ 00,00</small></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <button type="submit" onclick="solicitar()" class="btn btn-sm btn-outline-success">Solicitar</button>
        <button type="submit" onclick="finalizar()" class="btn btn-sm btn-outline-danger"
          id="endService">Finalizar</button>
      </div>
    </form>
  </div>
</div>



<script>
  {{!-- function finalizar() {
    document.getElementById("solicitar").addEventListener("click", function (event) {
      event.preventDefault(false)
    });
  } --}}
</script>