<div class="row">
  <div class="col-12 mt-3 border-bottom pb-2 d-flex justify-content-between align-items-center">
    <h6>Meus Reservados</h6><a href="/vendor/profile" class="badge badge-info">Meu Perfil</a>
  </div>
  <div class="col-12 mt-3">
    <ul class="list-group">
      <li class="list-group-item d-flex">
        <input type="text" name="barraca-id" value="" class="id-hidden" hidden>
        <div class="media w-100">
          <figure class="figure beaches mr-2">
            <img src="https://via.placeholder.com/50x50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
          </figure>
          <div class="media-body ml-2">
            <span class="d-flex flex-row justify-content-between align-items-center">
              <h6 class="mt-0">Nome do Usuário</h6> <a href="#" class="badge badge-danger">Encerrar</a>
            </span>
            <p>Consumo do usuário</p>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex">
        <input type="text" name="barraca-id" value="" class="id-hidden" hidden>
        <div class="media w-100">
          <figure class="figure beaches mr-2">
            <img src="https://via.placeholder.com/50x50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
          </figure>
          <div class="media-body ml-2">
            <span class="d-flex flex-row justify-content-between align-items-center">
              <h6 class="mt-0">Nome do Usuário</h6> <a href="#" class="badge badge-secondary disabled" tabindex="-1" aria-disabled="true">Encerrado</a>
            </span>
            <p>Consumo do usuário</p>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex">
        <input type="text" name="barraca-id" value="" class="id-hidden" hidden>
        <div class="media w-100">
          <figure class="figure beaches mr-2">
            <img src="https://via.placeholder.com/50x50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
          </figure>
          <div class="media-body ml-2">
            <span class="d-flex flex-row justify-content-between align-items-center">
              <h6 class="mt-0">Nome do Usuário</h6> <a href="#" class="badge badge-secondary disabled" tabindex="-1" aria-disabled="true">Encerrado</a>
            </span>
            <p>Consumo do usuário</p>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex">
        <input type="text" name="barraca-id" value="" class="id-hidden" hidden>
        <div class="media w-100">
          <figure class="figure beaches mr-2">
            <img src="https://via.placeholder.com/50x50" class="figure-img img-fluid rounded align-self-start mr-3" alt="Barraca Picture">
          </figure>
          <div class="media-body ml-2">
            <span class="d-flex flex-row justify-content-between align-items-center">
              <h6 class="mt-0">Nome do Usuário</h6> <a href="#" class="badge badge-danger">Encerrar</a>
            </span>
            <p>Consumo do usuário</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12">
    <hr>
  </div>
  <div class="col-12 mt-3 border-bottom pb-2 d-flex justify-content-between align-items-center">
    <h6>Meus Produtos</h6><a href="/vendor/edit-produtos" class="badge badge-warning">Edit</a>
  </div>
  <div class="col-12">
    <ul class="list-group list-group-flush" id="barraca-services">
      <li class="list-group-item">
        <div class="row d-flex flex-row align-items-center">
          <div class="col-5">
            <span id="barraca-valor" class="d-inline-block servicos text-center">
              <i class="fas fa-umbrella-beach"></i>
            </span> Barraca
          </div>
          <div class="col-3">
            Qt. 00
          </div>
          <div class="col-4">
            R$ 00,00
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row d-flex flex-row align-items-center">
          <div class="col-5">
            <span class="d-inline-block servicos text-center">
              <i class="fas fa-chair"></i>
            </span> Cadeira
          </div>
          <div class="col-3">
            Qt. 00
          </div>
          <div class="col-4">
            R$ 00,00
          </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
</div>